<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <main>
        <section>
            <H1>Thank you for contacting us <%= name %>!</H1>
            <h3>Check your email <%= email %> periodically for updates.</h3>
        </section>
    </main>
</body>

<%- include('layouts/footer'); -%>